// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import 'filter';
body {
  font-family: "Open Sans", sans-serif !important;
}
.hyperlink{
  
  color: orange;
  cursor: pointer;
}
.btn.btn-primary{
  border-radius: 2px;
  background-color: #FBA82B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  padding: 8px 44px;
  opacity: 0.9;
  border: 0px;
  &:hover{
    opacity: 1;
    background-color: #FBA82B;
    color: #FFFFFF;
    border: 0px;
  }
}
.click-to-action{
  background: orange;
  color: #fff;
  padding: 7px 20px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
}
.action-items{
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3a433;
  .icon-filter{
    font-size: 22px;
    cursor: pointer;
  }
}

.body-container{
  background: #fff;
  margin: 10px;
  padding: 14px;
  border: 10px solid #E2E1C1;
  h2{
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}
.tab-view{
  ul{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #E2E1C1;
  }
  li{
    display: inline-block;
    margin-right: 80px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19px;
    cursor: pointer;
    padding: 0 6px;
    &:hover,
    &.active{
      color: #F3A833;
      border-bottom: 3px solid;
      padding-bottom: 5px;
    }
  }
}
.filters-row{
  display: flex;
  justify-content: space-between;
}
.search {
  padding: 26px 0px 22px;
  input{
    width: 270px;
    height: 26px;
    font-size: 12px;
    padding-left: 8px;
    padding-right: 28px;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #A5A5A5;
  }
}
.scroll-section{
  max-height: 140px;
  overflow: auto;
}
.no-data-found{
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
.search-items{
  max-height: 340px;
  padding: 0px 10px;
  border: 1px solid #E2E1C1;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 13px 0 rgba(0,0,0,0.09);
  position: absolute;
  min-width: 270px;
.search-list{
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow: auto;
    margin-top: 14px;
  &:last-child{
    margin-bottom: 14px;
  }
    .search-heading{
      color: #333333;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 14px;
      border-bottom: 1px solid #E2E1C1;
      display: block;
      padding-left: 7px;
    }
  .search-list-item{
      display: block;
      color: #A6A6A6;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 17px;
      line-height: 26px;
    padding-left: 7px;

      &:hover {
        background-color: #E2E1C1;
      }
    }
  }
}
.clear-search {
  color: #737373;
  background: #e0e0e0;
  font-size: 13px;
  display: inline-block;
  width: 15px;
  height: 16px;
  text-align: center;
  line-height: 14px;
  border-radius: 50%;
  margin-left: -23px;
  cursor: pointer;
  position: relative;
  top: -1px;
}
.custom-class{
  .modal-lg{
    max-width: 1000px;
    .modal-content {
      padding: 15px 20px;
    }
  }
}
.tooltip{
  &.show {
    opacity: 1 !important;
  }
  .tooltip-inner{
    box-shadow: 0 2px 4px 0 rgba(143,143,143,0.5);
    background: #fff;
    color: #000;
    min-width: 200px;
    font-size: 12px;
    padding:12px;
    strong {
      color: #333333;
    }
    span{
      color: #A5A5A5;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 17px;
      font-weight: 300;
    }
  }
  &.bs-tooltip-top .arrow:before{
    border-top-color: #fff;
  }
  &.bs-tooltip-bottom .arrow:before{
    border-bottom-color: #fff;
  }
  &.bs-tooltip-left .arrow:before{
    border-left-color: #fff;
  }
  &.bs-tooltip-right .arrow:before{
    border-right-color: #fff;
  }
}



.switch_button {
  transition: all .3s ease-in-out;
  padding-left: 24px;
  display: flex;
  align-items: center;

  .switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    margin: 0px 3px;

    input {
      display: none;
      background-color: #ccc;

      &:checked + .slider {
        background: #ffa73e;
        &:before {
          transform: translate(12px, -50%);
        }
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.4s ease;
      background-color: #D8D8D8;

      &:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 2px;
        right: 0;
        bottom: 1px;
        background-color: #ffffff;
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%);
      }

      &.round {
        border-radius: 20px;

        &:before {
          border-radius: 50%;
        }
      }
    }
  }

  > span {
    color: #A5A5A5;
    font-size: 14px;
    line-height: 14px;

    &.active {
      color: #333333;
    }
  }
}

.header-dropdown{
  display: inline-block;
  font-size: 14px;
  border: 1px solid #E6E6E6;
  padding-right: 7px;
  float: right;
  span{
    display: inline-block;
    padding: 3px 10px;
    border-radius: 2px;
    background-color: #E6E6E6;
    color: #A5A5A5;
    font-weight: normal;
    font-size: 12px;
  }
  select{
    color: #333333;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
    background: transparent;
    border: 0px;
    outline: none;
  }
}


.custom-tooltip-data{
  min-width: 230px;
  max-width: 230px;
  font-weight: lighter;
  text-align: right;
  strong {
    width: 100px;
    text-align: left;
    display: inline-block;
    color: #3A3A3A;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    margin-left: 6px;
  }
  span {
    color: #A5A5A5;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
  }
}
.todTooltip{
  text-align: left;
}
.tooltip.threshhold-content{
  min-width: 340px;
  max-width: 340px;
  text-align: left;
  .head-line{
    color: #A5A5A5;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
  }
  .tooltip-inner {
    min-width: 100%;
    text-align: left;
  }
  .coloumns{
    > div{
      width: 50%;
      display: inline-block;
      color: #A5A5A5;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 17px;
      text-align: left;
      margin-top: 15px;
      font-weight: lighter;
      strong{
        color: #333333;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 17px;
        display: block;
      }
    }
  }
}
   .hyperlink,
   .allowance-template{
     .tooltip {
       &.show{
         opacity: 1;
       }
     }
   }


.disabled {
  cursor: not-allowed;
  opacity: .4;
}

.disable {
  pointer-events: none;
}

.for_checkbox {
  margin: 0;

  .custom_checkbox {
    position: relative;
    padding-left: 18px;
    color: #333333;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;

    &:before {
      width: 12px;
      height: 12px;
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid #E6E6E6;
      border-radius: 2px;
      background-color: #FFFFFF;
    }
  }

  .checkbox {
    display: none;

    &:checked + .custom_checkbox {
      &:before {
        border-color: #3986FA;
        background-color: #3986FA;
      }

      &:after {
        content: "\e91c";
        font-family: "icomoon" !important;
        font-size: 7px;
        position: absolute;
        left: 1.5px;
        color: #fff;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Modal Scss
.modal-content {
  padding: 17px 20px;

  .title_modal {
    position: relative;

    h2 {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 24px;
      padding-bottom: 19px;
      border-bottom: 1px solid #E2E1C1;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 1;
      color: #C3AB7F;
      outline: none;
      &:hover {
        opacity: 1;
      }
    }
  }

  .modal_body {
    padding: 27px 10.5px 11.8px 10.5px;

    .save_action_btn {
      height: 30px;
      width: 118px;
      border-radius: 2px;
      border: 0;
      outline: none;
      -webkit-appearance: none;
    }
  }
}

.applybtn{
  color: #3986FA;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 17px;
  cursor: pointer;
}


/**** ng-select override scss ****/

.ng-select {
  &.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    box-shadow: none;
  }
  .ng-dropdown-panel{
    border: 1px solid #E2E1C1;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 13px 0 rgba(0,0,0,0.09);
    padding-right: 5px;
    &.ng-select-bottom{
      margin-top: 5px;
    }
    &.ng-select-top{
      margin-bottom: 5px;
    }
    .scroll-host{
      max-height: 208px;
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: #fff;
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #D8D8D8;
      }
    }
  }
  &.ng-dropdown-select {
    .ng-select-container {
      font-size: 12px;
      min-height: 26px;
      border: 1px solid #E6E6E6;
      border-radius: 2px;
      background-color: #FFFFFF;
      max-height: 26px;
    }
  }
  &.ng-select-opened {
    .ng-select-container {
      border: 1px solid #3986FA;
      outline: 0;
    }
  }
  .custom-control-label{
    padding-top: 2px;
  }
  .custom-control-label::after {
    border-radius: 0;
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    background: no-repeat 50% / 50% 50%;
  }
  .custom-control-label::before {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 12px;
    height: 12px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #E6E6E6;
  }
  .custom-checkbox .custom-control-label::before {
    border-radius: 2px;
  }
  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-optgroup{
        padding: 3px 8px 3px 0;
        &.ng-option-selected {
          background: #fff;
        }
        &.ng-option-marked {
          background-color: #E2E1C1;
        }
      }
      .ng-option {
        &.ng-option-child {
          padding: 3px 8px 3px 0;
        }
        &.ng-option-selected {
          background: #fff;
        }
        &.ng-option-marked {
          background-color: #E2E1C1;
        }
      }
    }
  }
  &.ng-select-multiple {
    .ng-select-container {
      .ng-value-container {
        .ng-placeholder{
          top: 4px;
        }
        .ng-value {
          background-color: #E6E6E6;
          .ng-value-icon {
            &.right {
              border-left: 1px solid #d5d1d1;
            }
            &:hover{
              background: #d5d1d1;
            }
          }
        }
      }
    }
  }
    &.ng-select-multiple {
      .ng-select-container {
        .ng-value-container {
          .ng-value {
            .ng-value-label {
              &.ng-label-custom{
                display: inline-flex;
                .text-val{
                  width: 70px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:first-child {
    display: inline-block;
    padding: 1px 5px;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scrollbar {
  &::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #D8D8D8;
  }
}


.tooltip.counterTooltip{
  .tooltip-inner {
    text-align: left;
    min-width: 250px;
    padding: 12px;
    span{
      color: #A5A5A5;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 17px;
      font-weight: 300;
    }
    strong{
      display: block;
      line-height: 20px;
    }
  }
}
.todTooltip strong{
  margin-bottom: 15px;
}

.table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #C3AB7F;
  .head-row{
    background: #C3AB7F;
  }
  .shorting{
    cursor: pointer;
  }
  th{
    padding: 19px 14px;
    border: 1px solid #C3AB7F;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 12px;
    text-align: right;
    text-align: left;
    white-space: nowrap;
    .icon-sort {
      font-size: 9px;
    }
  }
  tr:nth-child(even){
    background: #F9F9EA;
  }
  tr{
    border-bottom: 1px solid #E2E1C1;
  }
  td{
    padding: 9px 14px;
    font-size: 12px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
    vertical-align: middle;
    .rule-position-relative{
      position: relative;
      display: inline-block;
      .label-tag{
        position: absolute;
        right: 5px;
        top: 4px;
        font-size: 10px;
        color: #999;
      }
      input{
        width: 160px;
        padding: 0 30px 0 10px;
      }
    }
    .hyperlink{
      font-weight: 600;
    }
    .input-group {
      width: 100px;
      input{ width: calc(100% - 110px); }
      .done .input-group-text.active{
        background: #21B600;
      }
      .input-group-text {
        font-size: 12px;
        padding: 0px 0.5rem;
        &.active{
          background: #FBA82B;
          color: #fff;
          pointer-events: initial;
          cursor: pointer;
        }
        &.disable{
          color: #fff;
          background-color: #A5A5A5;
          cursor: no-drop;
          pointer-events: none;

        }
      }
    }

  }
  select,
  .rule-name-input,
  .input-group input{
    font-size: 12px;
    width: 90%;
    height: 26px;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #A5A5A5;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
  }
  .ng-originating{
    width: 200px;
  }
}
.no-data-found{
  width: 100%;
  text-align: center;
  padding: 200px 0;

  h5{
    margin: 0;
    margin-bottom: 5px;
    font-weight: 300;
    color: #4C4C4C;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
  }
  p{
    color: #A5A5A5;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0;
  }
}
.hyperlink{
  color: #3986FA;
}
.applybtn{
  color: #3986FA;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 17px;
  cursor: pointer;
}
.discard{
  color: #A5A5A5;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  cursor: pointer;
}

.rule-name{
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}
.created-date,
.valid-thru{
  color: #707070;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 14px;
}

.error-section{
  position: relative;
  border: 1px solid #FB9090;
  border-radius: 4px;
}
.change-priority {
  position: absolute;
  background: #fff;
  width: 250px;
  border-radius: 5px;
  padding: 10px;
  top: 27px;
  box-shadow: 0px 0px 7px #ccc;
  h3{
    color: #333333;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
  }
  p{
    color: #A5A5A5;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 14px;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      display: block;
      clear: both;
      padding-left: 0px;
      input[type="radio"]{
        width: auto;
        float: left;
      }
    }
  }

  label{
    color: #333333;
    font-size: 12px;
    letter-spacing: 0;
    float: left;
    margin-bottom: 0;
    margin-left: 10px;
    line-height: 26px;
  }
  .assign{
    color: #FBA82B;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    padding-top: 10px;
    display: block;
  }
}
.allowance-threshold{
  .close{
    color: #C3AB7F;
    outline: none;
    box-shadow: none;
  }
}

.custom-popover{
  font-family: "Open Sans", sans-serif;
  display: none;
  position: absolute;
  width: 175px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #E2E1C1;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 13px 0 rgba(0,0,0,0.09);
  right:0;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 22px;
  z-index: 10;
}
.icon-action_dots:hover .custom-popover{
  display: block;
}
.relative{
  position: relative;
  .icon-action_dots{
    cursor: pointer;
  }
}
.toggle-switch{
  div{
    display: inline-block;
    padding: 0;
    &.switch_button{
      margin-top: 2px;
      margin: 2px 5px 0;

    }
  }
}

.allowance-threshold{
  width: 1000px;
  margin: 20px auto;

  ul {
    padding: 0;
    margin: 0;
  }
  h2{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 18px;
  }
  .flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
      background-color: #C3AB7F;
      padding: 10px 0px 10px 14px;
      margin: 0;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0;
      color: #FFFFFF;
      line-height: 17px;
    }
    .search{
      padding: 7px;
      input{
        width: 100%;
      }
    }
    .box{
      min-width: 251px;
      border: 1px solid #E2E1C1;
      border-radius: 2px;
      height: 380px;
      .select-btn{
        float: right;
        input{
          display: none;
        }
        input:checked + label{
          color: #1CAA3B;
          &:before{
            content: '\e927';
            font-family: 'icomoon' !important;
            height: 20px;
            width: 20px;
            margin-right: 3px;
          }
        }
        label{
          color:#FBA82B;
        }
      }
    }
    ul{
      li{
        display: block;
        color: #333333;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 17px;
        padding: 6px 18px;
        border-top: 1px solid #E2E1C1;
        position: relative;
        &.disable{
          opacity: 0.6;
          pointer-events: none;
        }
        &:nth-child(even){
          background-color: #F9F9EA;
        }
        .tooltip-view{
          position: relative;
          &:hover .custom-tooltip{
          display: block;
          }
        }
        .custom-tooltip{
          position: absolute;
          background: #fff;
          border-radius: 5px;
          box-shadow: 0px 0px 4px #ccc;
          width: 660px;
          padding: 10px;
          box-shadow: 0 2px 4px 0 rgba(143,143,143,0.5);
          top: -19px;
          left: calc(100% + 9px);
          display: none;
          z-index: 10;
          &:before{
            content: '';
            height: 0;
            width: 0px;
            border: 7px solid transparent;
            border-right-color: #fbfbfb;
            position: absolute;
            left: -14px;
            top: 20px;
          }
          .coloumns {
            width: 50%;
            float: left;
            font-size: 10px;
            letter-spacing: 0;
            line-height: 14px;
            .row-section{
              display: flex;
              justify-content: space-between;
            }
            .header{
              color: #333333;
              font-size: 12px;
              letter-spacing: 0;
              line-height: 17px;
              margin-top: 12px;
            }

            ul{
              margin: 0;
              padding: 0;
              li{
                display: block;
                background: none;
                border-top: 0px;
                padding: 4px 0px;
                color: #A5A5A5;
                &:nth-child(even) {
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
  .selected-templates{
    border-radius: 2px;
    background-color: #F9F9EA;
    padding: 12px;
    width: 325px;
    height: 380px;
    ul li.no-data-found{
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 17px;
      text-align: center;
      padding: 56% 50px;
      color: #A5A5A5;
      height: 100%;
      background: transparent;
    }
    .icon-bin {
      float: right;
      cursor: pointer;
      font-size: 13px;
    }

    ul li,
    ul li:nth-child(even){
      background: #fff;
      color: #333333;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 17px;
      padding: 11px;
      border: 0px;
      margin-bottom: 3px;
    }
  }
  .move-right{
    background-color: #FBA82B;
    height: 40px;
    color: #fff;
    width: 70px;
    text-align: center;
    border-radius: 3px;
    padding: 11px;
    &.disable{
      pointer-events: none;
      opacity: 0.5;
      cursor: no-drop;
    }
  }


 .modal-footer{
   border: 0px;
   justify-content: space-between;
   padding: 20px 0 10px;
 }

}
.modal-dialog.allowance-threshold {
  min-width: 1060px;
  padding: 20px;
}

.tod-modal{
.modal_body {
  .time_window {
    display: flex;
    padding-bottom: 20px;

    h2 {
      color: #333333;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      margin: 0;
    }
  }

  .select_box {
    margin-bottom: 14px;
    position: relative;

    .title {
      color: #333333;
      font-size: 12px;
      line-height: 17px;
    }

    .select_dropdown {
      box-sizing: border-box;
      height: 26px;
      width: 326px;
      border: 1px solid #E6E6E6;
      border-radius: 2px;
      background-color: #FFFFFF;
      -webkit-appearance: none;
      padding: 3px 4px;
      color: #A5A5A5;
      font-size: 12px;
      outline: none;
      line-height: 18px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &.ng-dropdown-select {
        outline: none;
        padding: 0 !important;
        border: 0 !important;

        ::ng-deep {
          .ng-placeholder{
            color: #A5A5A5;
            font-size: 12px;
            line-height: 18px;
          }
          .ng-select-container {
            border: 1px solid #E6E6E6 !important;
          }

          .ng-dropdown-panel-items.scroll-host {
            max-height: 160px !important;
            width: 327px;
          }

          .ng-option {
            padding: 0 !important;

            .custom-control {
              &.custom-checkbox {
                min-height: auto;
                margin-bottom: 2px;
              }
            }

            &:first-child {
              .custom-control {
                &.custom-checkbox {
                  margin-top: 2px;
                }
              }
            }

            &:last-child {
              .custom-control {
                &.custom-checkbox {
                  margin-bottom: 0;
                }
              }
            }


          }
        }
      }
    }
  }
}

.dropdown_list_wrap {
  max-height: 158px;
  width: 327px;
  border: 1px solid #E2E1C1;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.09);
  padding: 6.5px 12.5px;
  position: absolute;
  top: 47px;
  left: 0;
  z-index: 9;
  overflow: auto;
}

.dropdown_list {
  padding: 0;
  list-style: none;
  margin: 0;

  li {
    padding-bottom: 4px;
    display: flex;

    .time_slot {
      color: #333333;
      font-size: 12px;
      line-height: 17px;
      width: 66px;
      display: inline-block;

      + .for_checkbox {
        margin-right: 16px;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.chip {
  height: 19px;
  max-width: 109px;
  border-radius: 2px;
  background-color: #E6E6E6;
  color: #333333;
  font-size: 12px;
  line-height: 17px;
  padding: 1px 6px 1px 3px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    margin: 0;
  }

  .icon-cross_tags {
    height: 6px;
    width: 6px;
    color: #A5A5A5;
    font-size: 6px;
    cursor: pointer;
    margin-left: 4px;
  }
}
}
td .dashboardcode-bsmultiselect .form-control {
  width: 180px;
}

.dashboardcode-bsmultiselect{
  .form-control {
    font-size: 12px;
    width: 326px;
    min-height: 26px !important;
    padding: 3px 7px;
    .form-control{
      min-height: 20px !important;
      height: 20px !important;
    }
  }
  .badge {
      background: #E6E6E6;
      margin-right: 3px;
      padding: 0px 18px 0 4px !important;
      text-align: center;
      color: #333333;
      font-size: 12px;
      letter-spacing: 0;
      font-weight: normal;
      > span{
        max-width: 120px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  }
  .close {
      display: inline-block;
      float: right !important;
      margin-left: 4px;
      position: absolute;
    }
  .dropdown-menu li{
    color: #333333;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  }
}

#originatingFrom {
  width: 200px;
}
.counter-modal{
  .entry_list {
    margin-bottom: 33px;

    .entry_checked {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .for_checkbox {
        max-width: max-content;
      }

      .entry_box {
        margin-left: 18px;
        box-sizing: border-box;
        height: 26px;
        width: 120px;
        border: 1px solid #E6E6E6;
        border-radius: 2px;
        background-color: #FFFFFF;
        color: #A5A5A5;
        font-size: 12px;
        line-height: 17px;
        padding: 5px 8px;
        outline: none;
        margin-top: 4px;

        &[readonly] {
          background-color: #E6E6E6;
        }

        &::placeholder {
          color: #A5A5A5;
          opacity: 1;
        }
      }

    }
  }
}

.select_box_multiple{
  margin-left: 18px;
  margin-top: 2px;
  .dashboardcode-bsmultiselect .form-control{
    width: 120px !important;
  }
}

.call-cycle{
  .for_checkbox {
    .checkbox:checked + .custom_checkbox:after {
        content: "";
        position: absolute;
        left: 1.5px;
        color: #fff;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 9px;
        left: 3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
    }
    .custom_checkbox {
      &:before {
        border-radius: 15px ;
      }
    }
}
}

.call-action-section-modal{
  .modal-dialog{
    width: 450px;
  }
  .call-action-list{
    margin-bottom: 12px;
    .call-action-input-tag{
      position: relative;
      .call-percent-label{
        position: absolute;
    font-size: 12px;
    color: #999;
    right: 5px;
    top: 4px;
      }
    }
    .call-action-label{
      position: relative;
      padding-left: 18px;
      color: #333333;
      font-size: 12px;
      line-height: 17px;
      cursor: pointer;
      text-align: right;
    }
    .call-action-input{
      -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 26px;
    width: 64px;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #333;
    font-size: 12px;
    line-height: 17px;
    padding: 5px 17px 5px 8px;
    outline: none;
    }
  }
}
.w-10{
  width: 10%;
}
.w-20{
  width: 20%;
}
// pagination

.tabel-footer{
  color: #333333;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  .active .page-link{
    background-color: #E2E1C1;
    border-color: #E2E1C1;
    color: #333333;

  }
  .pagination {
    justify-content: flex-end;
  }
  .text-before-pagination{
    margin-left: 10px;
  }
  .page-link {
    position: relative;
    display: block;
    padding: 2px 6px;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    color: #333333;
    border: 1px solid #E2E1C1;
    font-size: 12px;
    font-weight: 600;
  }
  .page-item:first-child,
  .page-item:last-child{
    .page-link{
      padding: 5px 7px;
      font-weight: bold;
      border: 0px;
      margin-left: 1px;
      margin-right: 1px;
    }
  }
}
.daterangepicker.opensright{
  &:after,
  &:before {
    display: none;
  }
}
